
<h3>Color Select</h3>

<form class="form-vertically">
    <input name="clr" id="clrPicker" size=60 type="color" value="<?= htmlspecialchars($_POST['clr']) ?>">
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">

        <div class="control-group">
            <div class="controls" data-toggle="tooltip" title="{{ _('Strength of Red color (0, 255)') }}">
                <label for="red_str"><strong>Red Value:</strong></label>
                <input type="number" id="red_str" name="red_str" min="0" max="255" class="input-small" data-bind="value: settings.plugins.LEDController.red_strength">
                <div class="help-block">{{ _('Strength of Red color, <strong>R</strong>GB (0, 255)') }}</div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls" data-toggle="tooltip" title="{{ _('Strength of Green color (0, 255)') }}">
                <label for="green_str"><strong>Green Value:</strong></label>
                <input type="number" id="green_str" min="0" max="255" class="input-small" data-bind="value: settings.plugins.LEDController.green_strength">
                <div class="help-block">{{ _('Strength of Green color, R<strong>G</strong>B (0, 255)') }}</div>
            </div>
        </div> 

        <div class="control-group">
            <div class="controls" data-toggle="tooltip" title="{{ _('Strength of Blue color (0, 255)') }}">
                <label for="blue_str"><strong>Blue Value:</strong></label>
                <input type="number" id="blue_str" min="0" max="255" class="input-small" data-bind="value: settings.plugins.LEDController.blue_strength">
                <div class="help-block">{{ _('Strength of Blue color, RG<strong>B</strong> (0, 255)') }}</div>
            </div>
        </div>

        <div class="input-append">
           {# <input type="submit" name="submit_button" value="Do Something" <a onclick='OctoPrint.simpleApiGet("LEDController")'></a> #}
           <button class="btn btn-primary" onclick='OctoPrint.simpleApiGet("LEDController")'>Set Color</button>
        </div>

    </div>

</form>