<form class="form-horizontal">

	<h3>Color Selection</h3>
	
	<div class='color_inputs'>

		<!-- Red Color -->
		<div class="slidecontainer">
			<label class="pull-left">Red</label>
  			<input type="range" min="0" max="255" data-bind:"value: r" class="slider" id="red_slider">
		</div>

		<div class="control-group">
			<div class="controls" data-toggle="tooltip" title="Strength of Red color (0, 255)">
				<input type="number" id="red_str" min="0" max="255" class="input-small">
			</div>
		</div>

		<!-- Green Color -->
		<div class="slidecontainer">
			<label class="pull-left">Green</label>
  			<input type="range" min="0" max="255" class="slider" id="green_slider">
		</div>

		<div class="control-group">
			<div class="controls" data-toggle="tooltip" title="Strength of Green color (0, 255)">
				<input type="number" id="green_str" min="0" max="255" class="input-small">
			</div>
		</div> 

		<!-- Blue Color -->
		<div class="slidecontainer">
			<label class="pull-left">Blue</label>
  			<input type="range" min="0" max="255" class="slider" id="blue_slider">
		</div>

		<div class="control-group">
			<div class="controls" data-toggle="tooltip" title="Strength of Blue color (0, 255)">
				<input type="number" id="blue_str" min="0" max="255" class="input-small">
			</div>
		</div>
	
		<button class="btn btn-lg btn-primary btn-block" data-bind="click: testFun">Set Color </button>

	</div>

	<div id='colored_box' class='colored_box'> 

	<!-- Removed in favor of nav-bar toggle switch

		<div class="control-group" id='lights_on_off'>
			<label class="checkbox">
				<input type="checkbox">Lights Enabled
			</label>
		</div>

	-->

	</div>

</form>


